<!--
File: valami.html
Author: Boros Zoltán
Copyright: 2022, Boros Zoltán
Group: Szoft I N
Date: 2022-05-026
Github: https://github.com/BorosFather/
Licenc: GNU GPL
-->

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Testtömegind</title>

</head>
<body>
    
    <div class="conteiner">

        <div>
            <ul class="nav justify-content-center mt-3">
    
                <li class="nav-item">
                  <a class="nav-link" href="index.php">Főoldal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.php">Névjegy</a>
                </li>
              </ul>
        
              <div class="card mt-3 start-50 translate-middle-x" style="width: 18rem;">
                <div class="card-body">
                    Testtömegindex számítása
                </div>
              </div>
    

