<!--
File: valami.html
Author: Boros Zoltán
Copyright: 2022, Boros Zoltán
Group: Szoft I N
Date: 2022-05-026
Github: https://github.com/BorosFather/
Licenc: GNU GPL
-->

<h2></h2>

<form action="szamit.php" method="get">
    <div class="asd">
    <div>
        <label for="tom" class="form-label ">Tömeg</label>
        <input type="text" name="tom" id="tom" class="form-control">
    </div>
    <div>
        <label for="mag" class="form-label">Magasság méterben</label>
        <input type="text" name="mag" id="mag" class="form-control">
    </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Számít</button>
</form>

