<!--
File: valami.html
Author: Boros Zoltán
Copyright: 2022, Boros Zoltán
Group: Szoft I N
Date: 2022-05-026
Github: https://github.com/BorosFather/
Licenc: GNU GPL
-->

<div class="card mt-3 start-50 translate-middle-x" style="width: 20rem;">
    <div class="card-body">
        <h2>Testtömegindex-ed</h2>

        <p>{{ res }}</p>   
    
        <div class="containre">
        <button type="submit" class="btn btn-primary mt-3" onclick="history.go(-1);">Vissza</button>
        </div>

    </div>
  </div>